<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>

        <a href="{% url 'college:student-application' %}">Student Application</a><br><br>
        <a href="{% url 'college:student-registration' %}">Student Registration</a><br><br>
         <a href="{% url 'college:login' %}">Student login</a><br><br>
        <a href="{% url 'college:staff-registration' %}">Staff Registration</a><br><br>
        <a href="{% url 'college:login' %}">Staff login</a><br><br>
<br>
        <br>


<a href="{% url 'college:logout' %}">Logout</a>
</body>
</html>
