<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Registration</title>
</head>
<body>
<h1>Staff Registration Page</h1>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    User name: <input type="text" placeholder="enter user name" name="username"> <br><br>
    F name: <input type="text" placeholder="enter Fname" name="first-name"> <br><br>
    L name: <input type="text" placeholder="enter Lname" name="last-name"> <br><br>
    e-mail: <input type="email" placeholder="example@gmail.com" name="email"><br><br>
    password: <input type="password" placeholder="password" name="password" ><br><br>
    gender: <select name="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select> <br><br>
    department:<select name="department">
                    <option value="TE">Telugu</option>
                    <option value="EN">English</option>
                    <option value="MA">MATHS</option>
                    <option value="PH">PHYSICS</option>
                    <option value="CS">COMPUTERS</option>
                </select> <br><br>
    nationality: <input type="text" name="nationality" placeholder="country"><br><br>
    age: <input type="text" name="age" placeholder="enter your age"><br><br>
    salary: <input type="text" name="salary" placeholder="enter yout current salary"><br><br>
    profile_pic: <input type="file" name="profile-pic"><br><br>
    <input type="submit" value="save">
</form>
</body>
</html>