<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
<center>
<h1>Student List page!</h1>
<!--{% if students %}-->
<!--<ul>-->
    <!--{% for std in students %}-->
    <!--<li><a href="#">{{std.student_name}}</a>-->

    <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->

{{ context.username }}<br>
{{ context.first_name }}<br>
{{ context.last_name }}<br>
<img src="{{ context.studentregistration.profile_pic.url }}" height="200" width="300"><br>
{{ context.studentregistration.department }} <br>

<a href="{% url 'college:staff-detail' %}">staff details</a><br><br>
<a href="{% url 'college:logout' %}">logout</a>
</center>
</body>
</html>
